.App {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../public/Writing.jpeg');
  background-position: center;
  background-size: cover;
  font-family:  'Barlow Condensed', sans-serif;
}
.content h1 ,.content li{
  font-family: "Agbalumo";
}
.container{
  width: 50%;
  height: 50vh;
  border: 5px solid gainsboro;
  box-shadow: 40px 20px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.content{
  width: 80%;
  margin: auto;
}
.inputt ,.btn{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0 4px;
}
.btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
li{
  overflow-wrap: break-word;
  list-style: '✍🏼 ';
  cursor: pointer;
}
.complete{
  text-decoration: line-through;
}
.forEveryTask{
  display: flex;
  justify-content: space-between;
}.forEveryTask span{
  cursor: pointer;
}
.copyRight{
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  font-size: 13px;
  font-style:oblique;
  font-weight: 200;
}